{% extends 'base.html' %}

{% block title %}
{% if user.is_authenticated %}
MyPage
{% else %}
Main
{% endif %}
{% endblock %}

{% block content %}
<header>
    <div class="h2">Welcome {{ user }} </div>
    <p><a href="{% url 'mfp:logout'%}">ログアウト</a></p>
    {% if user.is_authenticated %}
    {% else %}
    <a href="{% url 'mfp:signup' %}" class="btn btn-primary">Signup</a>
    {% endif %}
</header>
<main>
    <div id="map"></div>
</main>
<footer>
    <div class="copyright"><small>copyright</small></div>
</footer>
{% endblock %}
